body{
    color: antiquewhite;
    background: black;
}

header{
    margin-bottom: 10px;
    margin-top: 10px;
}
#header{
    font-family: "Prosto One", sans-serif;
    font-weight: 500;
    font-size: xx-large;
    font-style: normal;
    margin-top: 10px;
}

/* колонки/контейнеры */
.container {
    display: flex;
    margin-left: 1px;
    margin-right: 1px;
}
.column {
    flex: 1;
    border: 0px solid lawngreen;
    padding: 10px;
}
.column:first-child{
    flex: 0 0 13.5%;
    padding-left: 4px;
}
.column:nth-child(2){
    flex: 0 0 61%;
}





/* Окошко в правом столбце */
.Pokazatel {
    font-size: larger;
    border: 7px ridge dimgray;
    margin-top: 13%;
    padding: 10px;
    background: gray;
}
#window{
    border: 5px solid darkslategray;
    background: black;
    color: black;
    text-align: center;
    font-family: monospace;
    
}




/* Рубильник он-офф */
.form_toggle {
	display: inline-block;
	overflow: hidden;
}
.form_toggle-item {
    display: inline-block;
	float: left;
}
.form_toggle-item input[type=radio] {
	display: none;
}
.form_toggle-item label {
	display: inline-block;
	padding: 0px 15px;   
	line-height: 34px;    
	border: 1px solid #999;
	border-right: none;
	cursor: pointer;
	user-select: none;   
}
.form_toggle .item-1 label {
	border-radius: 6px 0 0 6px;
    background: darkred;
}
.form_toggle .item-2 label {
	border-radius: 0 6px 6px 0;
	border-right: 1px solid #999;
    background: darkred;
}
/* Checked */
.form_toggle .item-1 input[type=radio]:checked + label {
	background: red;
}
.form_toggle .item-2 input[type=radio]:checked + label {
	background: red;
}


/* КНОПКИ */
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: "Prosto One", sans-serif;
    
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    margin:10px;
    
  }
  .btn-1 {
    background: darkred;
    background: linear-gradient(0deg, darkred 0%, darkred 100%);
    border: none;
    margin-top: 20%;
  }
  .btn-1:hover {
     background: red;
  background: linear-gradient(0deg, darkred 0%, red 100%);
  margin-top: 20%;
  }

  .btn-2 {
    background: green;
    background: linear-gradient(0deg, green 0%, LimeGreen 100%);
    border: none;
    margin-top: 20%;
    margin-left: 10px;
    font-size: x-large;
    width: 230px;
    height: 60px;
   
  }
  .btn-2:hover {
     background: LimeGreen;
    background: linear-gradient(0deg, Green 0%, lawngreen 100%);
    margin-top: 20%;
  }

  .btn-3 {
    background: #4352D5;
    background: linear-gradient(0deg, #4352D5 0%, #4352D5 100%);
    border: none;
    width: 250px;
    height: 70px;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-size: large;
    font-weight: 700;
    margin:100px;
    margin-top: 20px;
    margin-bottom: 20px;
   
  }
  .btn-3:hover {
     background: #AED6F1;
    background: linear-gradient(0deg, #4352D5 0%, #8A96FF 100%);
    margin:100px;
    margin-top: 20px;
    margin-bottom: 20px;
  }


  .btn-4 {
    background: lightgray;
    color: darkblue;
    background: linear-gradient(0deg, gray 0%, lightgray 100%);
    border: none;
    width: 300px;
    height: 50px;
    margin-left:0px;
    font-size: medium;
    
  }
  .btn-4:hover {
     background: lightseagreen;
    background: linear-gradient(0deg, gray 0%, lightseagreen 100%);
 
  }

/* exit */
   .modal-content {
    background-color: #ffaa4f;
    margin: 5% auto; /* 5% от верхней части экрана и центрирование */
    padding: 20px;
    border: 5px solid #ff6600;
    width: 40%; /* Ширина модального окна */
   }
   
   .close {
    color: #ff0000;
    float: right;
    font-size: 50px;
    font-weight: bold;
   }